<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Download</title>
</head>
<body>

  <div class="parent">
    <h1>Your file is ready! click to download </h1>
    <form action="download" method="get">
      <button class="btn"><i class="fa fa-download"></i> Download</button>
    </form>
  </div>
    
<style>
  a{
    text-decoration: none;
  }
  .parent{
    margin: 250px auto 0 auto;
    width: 300px;
    text-align: center;
  }
  h1{
    font-family: monospace;
  }
    .btn {
  background-color: #00AC47;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>

</body>
</html>